{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $machine := promptChoiceOnce . "machine" "Machine type" (list "personal" "work") -}}

[data]
    email = {{ $email | quote }}
    machine = {{ $machine | quote }}
